<div class="flex flex-col">
  <div class="relative overflow-hidden h-80  brightness-80">
    <%= image_tag "cinema.jpg", class: "absolute h-full w-full object-cover" %>
  </div>
  <%= render "shared/main_container" do %>
    <%= render "shared/card_container" do %>
        <% @lists.each do |list| %>
          <li>
            <%= link_to list_path(list) do %>
              <%= render 'shared/card' do %>
                <%= list.name %>
              <% end %>
            <% end %>
            </li>
        <% end %>
    <% end %>
  <% end %>
</div>
